.contact-container {
    background-color: rgb(248,249,250);
    color: black;
    border-top: 0.5rem solid lightgrey;
}
.btn-contact {
    background-color: transparent;
    border-radius: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn-contact:hover {
    background-color: rgb(217, 217, 217);
    color: white;
 }
 